/* Coolors Exported Palette - coolors.co/104f55-32746d-9ec5ab-01200f-011502 */

/* HSL */
$color1: hsla(185%, 68%, 20%, 1);
$color2: hsla(174%, 40%, 33%, 1);
$color3: hsla(140%, 25%, 70%, 1);
$color4: hsla(147%, 94%, 6%, 1);
$color5: hsla(123%, 91%, 4%, 1);

/* RGB */
$color1: rgba(16, 79, 85, 1);
$color2: rgba(50, 116, 109, 1);
$color3: rgba(158, 197, 171, 1);
$color4: rgba(1, 32, 15, 1);
$color5: rgba(1, 21, 2, 1);